.copyright {
    font-size: 12px;
    margin-top: 20px;
}

body {
    background-color: #f8f8f8;
}

.logo {
    margin-top: 30px;
    margin-bottom: 5px;
}

.action-links {
    margin-top: 10px;
}

.padding-top5 {
    padding-top: 5px;
}

.padding-bottom5 {
    padding-bottom: 5px;
}

.form-error-alert p {
    margin: 0 !important;
}

.form-error-alert {
    width: 100%;
    margin-top: .25rem;
    color: #dc3545;
}